.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

/* LOGIN */
.container-login{
  max-width: 200px;  
  margin: 0 auto;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.titulo-login, .user-login, .user-password, .bt-entrar, .separador-ou, .bt-cadastrar{
  text-align: center;
}

.titulo-login label{
  font-weight: bold;
  color: #535353;
  text-transform: uppercase;
}

.user-login input{
  width: 80%;
  height: 30px;
  margin-top: 8px;
}

.user-password input{
  width: 80%;
  height: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.esqueceu-senha{
  font-size: x-small;
  text-align: center;
  margin: 3px;
}


/* Inicio da Recuperar Senha */

.titulo-recuperacao{
  color: #535353;
  font-weight: bold;

}
.esqueceu-senha-cont *{
  text-align: center;
  margin: 4px;
}

.container-recuperar{
  font-weight: bold;
  max-width: 200px;  
  margin: 0 auto;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.enviar-recuperacao button{
  width: 85%;
  height: 40px;
  background-color: #4B8A40;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
}

.user-email-rec{
  width: 80%;
  height: 36px;
}

/* Final da Recuperar Senha */


.grupo-separador{
  display: flex;
  align-items: center;
  justify-content: center; 
}

.linha {
  flex-grow: 0.37;
  border-top: 1px solid #ccc;
}

.separador-ou {
  padding: 0 10px;
}

.separador-ou label {
  font-weight: bold;
}

.bt-entrar button:hover{
  background-color: rgb(88, 151, 77);
}

.bt-cadastrar button:hover{
  background-color: #e6aa3b;
}

.bt-entrar button{
  width: 85%;
  height: 40px;
  background-color: #4B8A40;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
}

.bt-cadastrar button{
  width: 85%;
  height: 40px;
  background-color: #FFBE41;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
}

/* Dashboard */

.container-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.imagem-usuario {
  order: -1; /* Move a imagem-usuario para cima */
}

.menu-button {
  margin-top: 10px; /* Adicione um espaçamento entre a imagem-usuario e o menu-button */
  display: flex;
  flex-direction: column; /* Coloque os botões em uma coluna */
  align-items: flex-start; /* Alinhe os botões à esquerda */
}

/* Estilos adicionais para melhorar a aparência */
button {
  padding: 8px 12px;
  margin: 5px;
}
/* quem somos */
.imgleft{
  width: 25%;
  justify-content: flex-end;
  
  }

  .imagem{
    display: flex;
    flex-direction: row;
    flex:2
    
     
    
  }
  .div-img1{
    flex-direction: row;
    justify-content: flex-start;
   text-align: left;
    flex:4
    }
  
  .titulo1{
    font-size: 80px;
  }

  .text2{
    text-align: center;
  }
  
