*{
  font-family:  Verdana, Geneva, Tahoma, sans-serif
}

a{
  text-decoration: none;
  color: inherit;
}

::placeholder{
  padding-inline-start: 8px;
}

.container{
  min-height: 100vh;
}

.container-img{
  min-height: 100vh;
  background: url('./assents/imagens/background/im_background-dog.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* menu navegacao do cabecalho */
.container-cabecalho{
  background: #E8833B;
  width: 100%;
  min-height: 75px;
}

.cabecalho{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-logo{
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 8px;
}

.menu-logo img{
  width: 60px;
  height: auto;
  padding: 8px;  
}

.container-navegacao{
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 8px;
  margin: 0 20px;
  gap: 15px;
}

.bt-navegacao{
  width: 100%;
  font-weight: bold;
  padding: 8px;  
  color: white;
  background-color: #4B8A40;
  border-radius: 40px;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.411);
  cursor: pointer;
}

.bt-navegacao:hover{
  background: #56924c;
}

.bt-navegacao:active {
  background: #4B8A40;  
}

/* Final do cabeçalho inicial  */

/* Começo do Body */
.home-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 80%;
  min-height: 70vh;
}

.titulo-encontrou-um-animal label{
  font-size: 35px;
  font-weight: bold;
  color: #535353;
}

.detalhes{
  font-weight: bold;
  color: #535353;
}

.bt-formulario{
  margin: 18px;
}

.bt-encontrei-pet{
  padding: 20px;
  border-radius: 50px;
  background-color: #4B8A40;
  font-size: larger;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.bt-encontrei-pet:hover{
  background: #56924c;
}

.bt-encontrei-pet:active {
  background: #4B8A40;  
}

/* Final do Body */

/* Começo do Rodapé */
.rodape-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: #363636;
}

.mapa-site{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  justify-content: center;
}

.resgatepet{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
}

.rede-sociais{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}

.rodape{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.apoio,
.rede-social{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.icone{
  margin: 0 8px;
  width: 35px;
}

.icone img{
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.titulo-rodape{
  color: #FFBE41;
  font-weight: bold;
  font-size: large;
}

.sub-titulo{
  color: white;
  font-size: small;
  padding-top: 1%;
}

.bt-resgatpet{
  cursor: pointer;
}

.bt-resgatpet:hover{
  color: #FFBE41;
}
/* Final do Rodapé */

/* LOGIN - CADASTRAR-SE */
.container-autenticacao{
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.container-autenticacao p{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.form-container h1{
  font-size: 14px;
  color: #535353;
}

.form-container h1.entrar{
  position: relative;
  top: 27px;
}

.form-container img{
  width: 240px;
  position: relative;
  top: 15px;
  object-fit: cover;
}

.form-container label.esqueceu-senha{
  font-size: x-small;
  text-align: center;
  color: #535353;
  margin: 3px;
  cursor: pointer;
}

.container-autenticacao button{
  background-color: #4B8A40;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container-autenticacao button.hidden{
  background-color: transparent;
  border-color: #fff;
}

.container-autenticacao form{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 100%;
}

.container-autenticacao input{
  background-color: #eee;
  border: solid 1px transparent;
  border: none;
  margin: 3px 0;
  padding: 10px 4px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.container-autenticacao input:focus{
  border: solid 1px #679aff;
}

.form-container{
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.criar-conta-pf{
  left: 0;
  width: 50%;
  z-index: 2;
}

.container-autenticacao.active .criar-conta-pf{
  transform: translateX(100%);
}

.criar-conta-pj{
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container-autenticacao.active .criar-conta-pj{
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move{
  0%, 49.99%{
    opacity: 0;
    z-index: 1;
  }

  50%, 100%{
    opacity: 1;
    z-index: 5;
  }
}

.toggle-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.container-autenticacao.active .toggle-container{
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle{
  background: #2968b1;
  background: linear-gradient(to right, #53a3ff, #2968b1);
  background-size: cover;
  height: 100%;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6ss ease-in-out;
}

.container-autenticacao.active .toggle{
  transform: translateX(50%);
}

.toggle-panel{
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-panel span{
  margin-top: 5px;
  font-size: large;
  font-weight: bold;
}

.toggle-left{
  transform: translateX(-200%);
}

.container-autenticacao.active .toggle-left{
  transform: translateX(0);
}

.toggle-right{
  right: 0;
  transform: translateX(0);
}

.container-autenticacao.active .toggle-right{
  transform: translateX(200%);
}

.aceitar-termos{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 8px;
  width: 100%;
}

.aceitar-termos label{
  font-size: 14px;
  margin-left: 8px;
}

/* Inicio da Recuperar Senha */
.titulo-recuperacao{
  color: #535353;
  font-weight: bold;

}
.esqueceu-senha-cont *{
  text-align: center;
  margin: 4px;
}

.container-recuperar{
  font-weight: bold;
  max-width: 200px;  
  margin: 0 auto;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.enviar-recuperacao button{
  width: 85%;
  height: 40px;
  background-color: #4B8A40;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.user-email-rec{
  width: 80%;
  height: 36px;
}
/* Final da Recuperar Senha */

/* DASHBOARD */
.dashboard{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.container-painel{
  width: 100%;
  height: 90vh;
  margin-top: 10px;
  margin-inline-start: 8px;
  margin-inline-end: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 15px;
  border: 1px solid #FFBE41;
  display: flex;
  flex-direction: column;
  background-color: #FFECC7;
}

.container-painel h1{ 
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: #535353;
}

.container-bem-vindo{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  padding: 8px 0;
}

.container-bem-vindo label{
  font-size: large; 
  font-weight: bold;
  padding: 0 8px;
  text-transform: capitalize;
}

.painel{
  display: flex;
  flex-direction: column;
}

/* DASHBOARD - MENU LATERAL */
.container-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 90vh;
  margin-top: 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid #FFBE41;
  background-color: #FFECC7;
}

.container-menu img{
  width: 100px;
  height: 100px;
  margin-top: 10px;
  cursor: pointer;
}

.container-menu label{
  text-align: center; 
  font-weight: bold;
  font-size: small;
  text-transform: capitalize;
}

.container-menu button{
  width: 170px;
  height: 25px;
  color: #fff;
  font-weight: bold;
  text-align: right;
  background-color: #2E77BB;
  border: none;
  padding: 0 25px;
  margin: 1px 2px 3px 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}

.container-menu button:hover{
  background: #3a86ce;
}

.container-menu button:active {
  background: #2E77BB;
}

/* DASHBOARD - CONFIGURAÇõES */
.painel-configuracao{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  width: 30%;
  height: 60vh;
  margin: 0 auto;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: white; 
  border-radius: 10px;
}

.painel-configuracao h1{
  font-size: x-large;
  text-align: center;
  min-width: 200px;
}

.painel-configuracao input{
  width: 100%;
  background-color: #eee;
  border: solid 1px transparent;
  margin: 3px 0;
  padding: 13px 0;
  font-size: 13px;
  border-radius: 8px;
  outline: none;
}

.painel-configuracao input:focus{
  border: solid 1px #679aff;
}

.container-botoes{
  display: flex;
  flex-direction: row;
  align-items: center; 
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-botoes button{
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 10px 8px;
  cursor: pointer;
}

.container-botoes button.bt-salvar{
  background-color: #4B8A40;
}

.container-botoes button.bt-cancelar{
  background-color: #808080;
}

.container-botoes button.bt-salvar:hover{
  background: #56924c;
}

.container-botoes button.bt-salvar:active {
  background: #4B8A40;
}

.container-botoes button.bt-cancelar:hover{
  background: #8a8a8a;
}

.container-botoes button.bt-cancelar:active{
  background: #808080;
}

/* quem somos */
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img{
  width: 10%;
  height: auto;
  padding: 8px;
}

.quem-somos, 
.nossa-missao,
.nossos-valores,
.como-ajudar{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descricao-quem-somos,
.descricao-nossa-missao{
  width: 90%;
  font-size: large;
}

.ditado{
  margin: 8px;
  text-align: left;
  font-size: small; 
}

/*  fim quem somos */

/*  Formulario */
.container-formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;  
  margin: 0 auto;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.titulo-formulario{
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: white;
  background: #679aff;
}

.dados-pessoais{
  width: 90%;
  display: flex;
  flex-direction: column;
}

.container-telefone-email{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.coluna-usuario{
  display: flex;
  flex-direction: column;
}

.nome-usuario-formulario{
  width: 100%;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.dados-pet{
  width: 90%;
  display: flex;
  flex-direction: column;
}

.pet{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

.foto-pet{
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
}

.foto-pet img{
  width: 150px;
  height: 150px;
}

.endereco-pet{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.endereco-pet input{
  padding: 3px;
}

.sexo-pet, .pet-acessorio{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sexo-macho, .sexo-femea{
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}

.pet-cor{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}

.coluna-1{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 8px;
}

.coluna-2{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pet-acessorio{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pet-bem-estar{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}

.pet-cadastro{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  margin-top: 20px;
}

.bt-salvar-pet{
  width: 30%;
  text-align: center;
}

.bt-cancelar-pet{
  width: 30%;
  text-align: center;
}

#input{
  height: 20px;
  background-color: #eee;
  border: solid 1px white;
  margin: 3px 0;
  padding: 10px 4px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

#input:focus{
  border: solid 1px #679aff;
  background-color: #fafafa;
}

#label-formulario{
  width: 100%;
  margin-top: 12px;
  text-align: left;
  font-size: small;
  font-weight: bold;
  color: #535353;
}

#input-outros{
  width: 40%;
  height: 10px;
  margin-inline-start: 8px;
  background-color: #eee;
  border: solid 1px #eee;
  padding: 5px 4px;
  font-size: 13px;
  outline: none;
}

#input-outros:enabled{
  border: solid 1px #679aff;
  background-color: white;
}

#radios{
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
}

#checkbox{
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
}

#bt-salvar{
  width: 50%;
  height: 30px;
  background-color: #4B8A40;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

#bt-cancelar{
  width: 50%;
  height: 30px;
  background-color: #808080;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px; 
  cursor: pointer;
}

#bt-salvar:hover{
  background: #56924c;
}

#bt-salvar:active {
  background: #4B8A40;
}

#bt-cancelar:hover{
  background: #8a8a8a;
}

#bt-cancelar:active{
  background: #808080;
}


