*{
  font-family:  Verdana, Geneva, Tahoma, sans-serif
}

a{
  text-decoration: none;
  color: inherit;
}

.container{
  min-height: 100vh;
}

/* menu navegacao do cabecalho */
.container-cabecalho{
  background: #E8833B;
  width: 100%;
  min-height: 75px;
}

.cabecalho{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-logo{
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 8px;
}

.menu-logo img{
  width: 60px;
  height: auto;
  padding: 8px;  
}

.container-navegacao{
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 8px;
  margin: 0 20px;
  gap: 15px;
}

.bt-navegacao{
  width: 100%;
  font-weight: bold;
  padding: 8px;  
  color: white;
  background-color: #4B8A40;
  border-radius: 40px;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.411);
  cursor: pointer;
}

.bt-navegacao:hover{
  background: #56924c;
}

.bt-navegacao:active {
  background: #4B8A40;  
}

/* Final do cabeçalho inicial  */

/* Começo do Body */
.home-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 80%;
  min-height: 70vh;
}

.titulo-encontrou-um-animal label{
  font-size: 35px;
  font-weight: bold;
  color: #535353;
}

.detalhes{
  font-weight: bold;
  color: #535353;
}

.bt-formulario{
  margin: 18px;
}

.bt-quero-ajudar{
  padding: 20px;
  border-radius: 50px;
  background-color: #4B8A40;
  font-size: larger;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.bt-quero-ajudar:hover{
  background: #56924c;
}

.bt-quero-ajudar:active {
  background: #4B8A40;  
}

/* Final do Body */

/* Começo do Rodapé */
.rodape-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: #363636;
}

.mapa-site{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  justify-content: center;
}

.resgatepet{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
}

.rede-sociais{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}

.rodape{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.apoio,
.rede-social{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.icone{
  margin: 0 8px;
  width: 35px;
}

.icone img{
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.titulo-rodape{
  color: #FFBE41;
  font-weight: bold;
  font-size: large;
}

.sub-titulo{
  color: white;
  font-size: small;
  padding-top: 1%;
}

.bt-resgatpet{
  cursor: pointer;
}

.bt-resgatpet:hover{
  color: #FFBE41;
}
/* Final do Rodapé */

/* LOGIN - CRIAR CONTA */
.container-login{  
  width: 250px; 
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.titulo-login, .usuario-login, 
.usuario-senha, .usuario-senha-confirmar, 
.bt-entrar, .separador-ou, .bt-cadastrar{
  text-align: center;
}

.titulo-login label{
  font-weight: bold;
  color: #535353;
  text-transform: uppercase;
}

.usuario-login input{
  width: 80%;
  height: 30px;
  margin-top: 8px;
}

.usuario-senha input, 
.usuario-senha-confirmar input{
  width: 80%;
  height: 30px;
  margin-top: 8px;
}

.esqueceu-senha{
  font-size: x-small;
  text-align: center;
  margin: 3px;  
}

.esqueceu-senha label{
  cursor: pointer;
}

.grupo-separador{
  display: flex;
  align-items: center;
  justify-content: center; 
}

.linha {
  flex-grow: 0.37;
  border-top: 1px solid #ccc;
}

.separador-ou {
  padding: 0 10px;
}

.separador-ou label {
  font-weight: bold;
}

.bt-entrar button:hover{
  background: #56924c;
}

.bt-entrar button:active {
  background: #4B8A40;
}

.bt-cadastrar button:hover{
  background: #327ec5;
}

.bt-cadastrar button:active{
  background: #2E77BB;
}

.bt-entrar button{
  width: 85%;
  height: 40px;
  margin-top: 8px;
  background-color: #4B8A40;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.bt-cadastrar button{
  width: 85%;
  height: 40px;
  background-color: #2E77BB;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

/* Inicio da Recuperar Senha */

.titulo-recuperacao{
  color: #535353;
  font-weight: bold;

}
.esqueceu-senha-cont *{
  text-align: center;
  margin: 4px;
}

.container-recuperar{
  font-weight: bold;
  max-width: 200px;  
  margin: 0 auto;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.enviar-recuperacao button{
  width: 85%;
  height: 40px;
  background-color: #4B8A40;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.user-email-rec{
  width: 80%;
  height: 36px;
}
/* Final da Recuperar Senha */

/* Dashboard */
.dashboard{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.container-menu {
  width: 200px;
  height: 90vh;
  margin-top: 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid #FFBE41;
  background-color: #FFECC7;
}

.imagem-usuario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.imagem-usuario img{
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.nome-usuario{
  width: 100%;
  text-align: center; 
  font-weight: bold;
}

.nome-usuario label{
  text-align: center;
  font-size: smaller;
}

.menu-dashboard {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 8px;
}

.bt-menu{
  width: 160px;
  height: 25px;
  color: #fff;
  font-weight: bold;
  text-align: right;
  background-color: #2E77BB;
  border: none;
  padding: 0px 25px;
  margin-bottom: 5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}

.bt-menu:hover{
  background: #3a86ce;
}

.bt-menu:active {
  background: #2E77BB;
}

.container-painel{
  width: 100%;
  height: 90vh;
  margin-top: 10px;
  margin-inline-start: 8px;
  margin-inline-end: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 15px;
  border: 1px solid #FFBE41;
  display: flex;
  flex-direction: column;
  background-color: #FFECC7;
}

.titulo{
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: #535353;
}

.usuario-logado{
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  margin-inline-start: 10px;
}

.bem-vindo{
  font-size: large; 
  font-weight: bold;
}

.nome-usuario-logado{
  font-size: large;
  margin-inline-start: 8px;
}

.painel-dasboard{
  display: flex;
  flex-direction: column;
}

.painel-dasboard-top{  
  display: flex;
  flex-direction: row;
  align-items: center;
}

.painel-dasboard-baixo{  
  display: flex;
  flex-direction: row;
}

.painel-dasboard-esquerdo-top label, 
.painel-dasboard-direito-top label, 
.painel-dasboard-esquerdo-baixo label, 
.painel-dasboard-direito-baixo label{
  font-size: small; 
  font-weight: bold;
}

.painel-dasboard-esquerdo-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  margin-top: 8px;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  background-color: #FFF8EC;
}

.painel-dasboard-direito-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 8px;
  margin-inline-end: 10px;
  background-color: #FFF8EC;
}

.painel-dasboard-esquerdo-baixo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 8px;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  background-color: #FFF8EC;
}

.painel-dasboard-direito-baixo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  margin-top: 8px;
  margin-inline-end: 10px;
  background-color: #FFF8EC;
}

.tabela-acompanhar,
.tabela-historico, 
.tabela-resgatar-pet{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%; 
  height: 300px;
  margin: 0 auto;
  background-color: #FFF8EC;
}

.painel-configuracao{
  min-width: 200px;
  width: 30%;
  height: 60vh;
  margin: 0 auto;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #FFF8EC;
  border-radius: 10px;
}

.bt-editar-cadastro{
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.bt-salvar-configuracao, 
.bt-cancelar-configuracao{
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bt-salvar{
  width: 100%;
  height: 30px;
  background-color: #4B8A40;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
}

.bt-cancelar{
  width: 100%;
  height: 30px;
  background-color: #808080;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px; 
}

.bt-salvar:hover{
  background: #56924c;
}

.bt-salvar:active {
  background: #4B8A40;
}

.bt-cancelar:hover{
  background: #8a8a8a;
}

.bt-cancelar:active{
  background: #808080;
}

/* Inicio do registro pj */
.container-pj{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;  
  margin: 0 auto;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.container-pj label{
  color: #535353;
  text-transform: uppercase;
  font-weight: bold;
}

.container-pj input{
  padding: 2px;
  border-radius: 10px;
  border: #679aff solid 1px;
  margin: 4px;
}

.Conta-corporativa1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Conta-corporativa2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cadastro-pj{
  display: flex;
  flex-direction: column;
}

.cadastro-checkbox {
  display: flex;
  flex-direction: row;
}

.cadastro-botoes{
  display: flex;
  flex-direction: row;
}

hr{
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}
/* Final do registro pj */

/* quem somos */
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img{
  width: 10%;
  height: auto;
  padding: 8px;
}

.quem-somos, 
.nossa-missao,
.nossos-valores,
.como-ajudar{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descricao-quem-somos,
.descricao-nossa-missao{
  width: 90%;
  font-size: large;
}

.ditado{
  margin: 8px;
  text-align: left;
  font-size: small; 
}

/*  fim quem somos */

